POSTGRES_DB=meal_mate
POSTGRES_USER=meal_mate
POSTGRES_PASSWORD=meal_mate_password
POSTGRES_PORT=5432

SPRING_PROFILES_ACTIVE=dev
DATABASE_URL=jdbc:postgresql://localhost:5432/meal_mate
DATABASE_USERNAME=meal_mate
DATABASE_PASSWORD=meal_mate_password
